@import "tailwindcss";
@plugin "daisyui" {
  themes: light , dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  --background: #ffffff;
  --foreground: #171717;
  --btn-color:  #1f429b;
  --color-secondary: #1f429b;
}

@plugin "daisyui/theme" {
  name: "dark";
  --background: #0a0a0a;
  --foreground: #ededed;
  --btn-color:  #1f429b;
  --color-secondary: #03a6df;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 
KCC Dark blue 1f429b rgb(31,66,155)
KCC Light Blue 03a6df rgb (3,167,223)
*/


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}
